pydub
matplotlib
speechrecognition
whisper
openai-whisper
ffmpeg-python  # This includes ffmpeg functionality for Python
seaborn
wordcloud
transformers
sentencepiece
streamlit>=1.29.0
librosa
torch==2.2.0
audioread
numpy<2
