pydub
matplotlib
speechrecognition
whisper
openai_whisper
ffmpeg
seaborn
wordcloud
transformers
sentencepiece
streamlit>=1.29.0
librosa
transformers
torch==2.2.0
audioread
numpy<2
seaborn
ffmpeg
ffprobe
ffmpeg-python
